<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header text-center">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Ubicación</h4>
    </div>
    <div class="modal-body" style="padding:0px;">
        <section id="map" ng-controller="EventMapViewerCtrl"  ng-init="load()">
          <div style="height:400px;" ui-map="myMap" ui-options="mapOptions" class="map-canvas"
                ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
          ></div>
        </section>   
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    </div>
</div>