<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="viajesCtrl" ng-init="load()">
<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ui-sref="dashboard">Dashboard</a></li>
                        <li>
                            <a ui-sref="viajes">Viajes</a></li>
                        </li>
                        <li class="active">
                           <span>Detalle del Viaje</span>
                        </li>
                    </ol>
                </div>
            <h2 class="font-light m-b-xs">
                Detalle del Viaje
            </h2>
            <small>Ultima Actualización : {{ruta.updatedAt | moments: 'YYYY-MM-DD, h:mm a'}}</small>
        </div>
    </div>
</div>
<div class="">
<div class="content">
    <div class="row">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Viaje {{viaje._route.data.nombre}}
                </h2>
                <br />
                <br />
                <div class="col-lg-6" style="background-color: rgba(0, 0, 0, 0.04);padding: 10px;">
                    <div clas="row">
                        <div class="col-lg-6">
                             <div class="form-group">
                                <label>Fecha</label>
                                <p>{{viaje.createdAt | date : 'dd/mm/yyyy hh:mm a'}}</p>
                            </div>
                            <div class="form-group">
                                <label>Ruta</label>
                                <p>{{viaje._route.data.nombre}}</p>
                            </div>
                            <div class="form-group">
                                <label>Origen</label>
                                <p>{{viaje._route.data.origen}}</p>
                            </div> 
                            <div class="form-group">
                                <label>Destino</label>
                                <p>{{viaje._route.data.destino}}</p>
                            </div>                       
                        </div>
                    <div class="col-lg-6" ng-show="image">
                        <label>Foto</label>
                        <form action="{{image.base + image.path}}" target="_blank">
                            <a href="{{image.base + image.path}}" target="_blank" style="border:0px;padding:0px;">
                                <img style="width:100%;max-width: 160px;max-height: 160px" ng-src="{{image.base + image.path}}">
                            </a>
                        </form>                        
                    </div>
                    </div>  
                </div>
            </div>
            <div class="panel-footer">
                Fecha de Creación : {{ruta.createdAt | moments: 'YYYY - MM -DD, h:mm:ss a'}}
            </div>
        </div>        
    </div>
  <div class="row">
        <div class="hpanel">
         <div class="panel-heading">
                <div panel-tools></div>
                Estudiantes
                </div>
            <div class="panel-body">
                <div class="col-lg-12" >
                        <div class="table-responsive">
                                <table  cellpadding="1" cellspacing="1" class="table table-striped  table-hover">
                                    <thead>
                                    <tr>
                                        <th>Apellidos</th>
                                        <th>Nombres</th>
                                        <th>Código</th>
                                        <th>Grado</th>
                                        <th>Parada</th>
                                        <th>Lon/Lag</th>
                                        <th class="text-center">Asistencia</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="record in all | filter : search | filter : filters : strict | orderBy : '+last_name'">
                                            <td>{{record.last_name}}</td>
                                            <td>{{record.name}}</td>
                                            <td>{{record.metadata.codigo || 'No Definido'}}</td>
                                            <td>{{record.metadata.grado || 'No Definido'}}</td>
                                            <td>{{record._stop.data.name ||  'no definido'}}</td>
                                            <td>{{ruta.data.stop[record._stop._id].coordinates ? ruta.data.stop[record._stop._id].coordinates.latitude +", " + ruta.data.stop[record._stop._id].coordinates.longitude : 'no definido'}}</td>
                                            <td class="text-center"><span class="glyphicon" ng-class="record.not_presented ? 'glyphicon-remove' : 'glyphicon-ok'"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                         </div>
                <div class="col-lg-12">
                <br>
                </div>
            </div>
        </div>
</div> 
</div>
    </div>
    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>

</div>


