<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="trayectoCtrl">


    <div class="content" animate-panel>
            <div class="row">
    <div class="col-lg-8">
        <div class="hpanel">
            <div class="panel-heading">
                
                <i class="glyphicon glyphicon-road icon_front"></i>
                <span class="titulo">Trayecto  </span>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-8">
                <div class="input-group buscador">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
                    </div>
                    <input class="form-control" type="text" placeholder="Buscar usuario" ng-model="buscador">
                </div>
                </div>
                <div class="col-lg-4 text-right">
                    <button type="button" class="btn btn-primary btn-lg btn_agregar" data-toggle="modal" data-target="#modal_user">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Agregar
                    </button>
 
                </div>
            </div>
            <!-- -->

            <!-- -->
                <div class="table-responsive">

                    <table  cellpadding="1" cellspacing="1" class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Jornada</th>
                            <th>Detalle paradas</th>
                            <th>Eliminar</th>
                           
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ruta in trayecto|filter:buscador|orderBy:tipoOrden">
                                <td>{{ruta.nombre}}</td>
                                <td>{{ruta.origen}}</td>
                                <td><button type="button" class="btn btn-info btn-xs" ng-click="verParada(ruta.nombre)"><span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</button></td>
                                <td> <button type="button" class="btn btn-danger btn-xs" ng-click="eliminar(ruta.nombre)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Eliminar</button></td> 
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="panel-footer">
               
            </div>
        </div>
    </div>
    <!-- inicio -->
            <div class="col-md-4">


    <div class="hpanel blog-box hgreen">
    <div class="panel-heading hbuilt">
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#agregar_parada">Agregar parada</a>
                </div>
                <strong> PARADAS  </strong>
            </div>
            <div class="panel-heading">
                       
                <!-- list node template   -->
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content">
                        <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-trash"></span></a>
                        {{node.nombre_p}}
                       
                    </div>
                    
                </script>
                <div ui-tree id="tree-root">
                    <ol ui-tree-nodes ng-model="data">
                        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>

                <div class="media clearfix">
                     <strong>{{parada.nombre}}</strong>
              <label style="float: right;">{{parada.origen}}</label> 
              

              <div >
              
              </div>
            
              <ul class="list-group padding-top">

                
                <li class="list-group-item" ng-repeat="stop in paradas">
                  
                  <span class="badge"> {{stop.numero_p}} </span>
                  {{stop.nombre_p}}
                  <div class="pull-right">
                    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="eliminarParada(stop, paradas[0].nombre)"> Eliminar</button>
                  </div>
                </li>
               
              </ul>
                </div>
            </div>
            <div class="panel-footer">
                <i class="fa fa-eye"> </i> Detalle Trayecto
            </div>



    </div>


</div>

    <!--fin -->

</div>





    </div>

<div class="modal fade" id="modal_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crear trayecto </h4>
      </div>
      <div class="modal-body">
         <div class="hpanel">
                    <div class="panel-heading">
                       
                    </div>
                    <div class="panel-body">
                    <form method="get" class="form-horizontal" ng-submit="agregar()">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-12" >Nombre trayecto</label>
                            <div class="col-sm-12"><input type="text" class="form-control" ng-model="nombre"></div>
                        </div>
                        <div class="form-group col-sm-6">
                        <label class="col-sm-12" >Hora </label>
                            <div class="col-sm-12"><input type="text" class="form-control" ng-model="origen"></div>
                        </div>
                        <div class="form-group col-sm-6">
                        <label class="col-sm-12" >Ruta del trayecto </label>
                            <select class="form-control" >
                                       <option>Ruta 1</option>
                                       <option>Ruta 2</option>
                                       <option>Ruta 3</option>
                                   </select>
                        </div>
                        
                       
                    </div>
                        <div class="form-group" ng-show="nueva_parada" >
                        <div class="col-sm-12">
                        <nav class="navbar navbar-default">
                              <div class="container-fluid">
                                <div class="navbar-header">
                                <div class="row">
                                <div class="col-lg-12">
                                   <p>  <strong>Agregar trayecto </strong> </p>
                                </div>
                                 <div class="col-xs-6">
                                     <label>Número</label>
                                     <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="col-xs-6">
                                     <label>Descripción</label>
                                     <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="col-xs-6">
                                     <label>Hora estimada</label>
                                     <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="col-xs-6">
                                     <button type="button" class="btn btn-primary btn-sm btn_parada">
                                          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Agregar
                                    </button>
                                  </div>
                                    
                                </div>
                                </div>
                              </div>
                        </nav>

                            <textarea class="form-control" rows="3"></textarea>
                            
                            
                        </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">

                                <button class="btn btn-primary" type="submit" value="Agregar">Guardar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </form>
                    </div>
            </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="agregar_parada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crear Parada</h4>

      </div>
      <div class="modal-body">
         <div class="hpanel">
                    <div class="panel-heading">
                       
                    </div>
                    <div class="panel-body">
                    <form method="get" class="form-horizontal" ng-submit="agregarParada(paradas[0].nombre)">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-12" >Nombre</label>
                            <div class="col-sm-12"><input type="text" class="form-control" ng-model="nombre_p"></div>
                        </div>
                        <div class="form-group col-sm-6">
                        <label class="col-sm-12" >Número </label>
                            <div class="col-sm-12"><input type="number" class="form-control" ng-model="numero_p"></div>
                        </div>
                         <div class="form-group col-sm-6">
                            <label class="col-sm-12" >Latitud</label>
                            <div class="col-sm-12"><input type="text" class="form-control" ng-model="latitud"></div>
                        </div>
                         <div class="form-group col-sm-6">
                            <label class="col-sm-12" >Longitud</label>
                            <div class="col-sm-12"><input type="text" class="form-control" ng-model="longitud"></div>
                        </div>
                         <div class="form-group col-sm-6">
                            <label class="col-sm-12" >Dirección</label>
                            <div class="col-sm-12"><input type="text" class="form-control" ng-model="direccion_p"></div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-12" >Descripción</label>
                            <div class="col-sm-12"><input type="text" class="form-control" ng-model="descripcion_p"></div>
                        </div>
                    </div>


                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">

                                <button class="btn btn-primary" type="submit" value="Agregar">Guardar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </form>
                    </div>
            </div>
      </div>

    </div>
  </div>
</div>
    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>



</div>



