
<div class="row" style="position:relative;top:20px;">
	<div class="col-lg-12">
		<div class="col-md-6">
		<label style="font-weight:normal">Seleccionar / Deseleccionar Todos</label>
		<input icheck type="checkbox" ng-model="chkall" ng-change="checkAll()" class="info-bounce">
		</div>
		<div class="col-md-6">
		<selectize config="myConfig" options="records" ng-model="$parent.ruta"></selectize>
		</div>	
	</div>
</div>
<br>

<div clas="row">

<div class="table-responsive">

	<table cellpadding="1" cellspacing="1" class="table">
	  <thead>
	  <tr>
	  	  <th></th>
	      <th class="text-center">Lunes</th>
	      <th class="text-center">Martes</th>
	      <th class="text-center">Miercoles</th>
	      <th class="text-center">Jueves</th>
	      <th class="text-center">Viernes</th>
	      <th class="text-center">Sabado</th>
	      <th class="text-center">Domingo</th>
	  </tr>
	  </thead>
	  <tbody>
	      <tr>
	      	  <td><h5>Trayecto de ida</h5></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[0].lunes.go" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[1].martes.go" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[2].miercoles.go" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[3].jueves.go" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[4].viernes.go" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[5].sabado.go" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[6].domingo.go" class="info-bounce"></td>
	      </tr>
	      <tr>
	      	  <td><h5>Trayecto de vuelta</h5></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[0].lunes.back" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[1].martes.back" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[2].miercoles.back" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[3].jueves.back" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[4].viernes.back" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[5].sabado.back" class="info-bounce"></td>
	          <td class="text-center"><input icheck type="checkbox"  ng-model="ngModel[6].domingo.back" class="info-bounce"></td>
	      </tr>
	  </tbody>
	</table>
</div>

</div>