<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

<div class="content" animate-panel effect="zoomIn">

<div class="row">
 <div class="col-lg-12">
   <h2 style="font-weight: bold;     color: #BFBEBE; letter-spacing: .5px">BIENVENIDO !</h2>
   <br>
 </div>
</div>

<div class="row">

<a ui-sref="buses">
    <div class="col-lg-4">
        <div class="hpanel hbgred">
            <div class="panel-body text-center h-200">
                <i class="glyphicon glyphicon-bed icon_front"></i>

                <h1 class="m-xs">BUSES</h1>

                <h3 class="font-extra-bold no-margins ">
                    D SCHOOL
                </h3>
            </div>
           
        </div>
    </div>
</a>

<a ui-sref="parada">
    <div class="col-lg-4">
        <div class="hpanel hbgorange">
            <div class="panel-body text-center h-200">
                <i class="glyphicon glyphicon-map-marker icon_front"></i>

                <h1 class="m-xs">PARADAS</h1>

                <h3 class="font-extra-bold no-margins ">
                    D SCHOOL
                </h3>
            </div>
         
        </div>
    </div>
</a>

<a ui-sref="rutas">
    <div class="col-lg-4">
        <div class="hpanel hbgblue">
            <div class="panel-body text-center h-200 h-bg-navy-blue">
                <i class="glyphicon glyphicon-road icon_front"></i>

                <h1 class="m-xs">RUTAS</h1>

                <h3 class="font-extra-bold no-margins ">
                    D SCHOOL
                </h3>
            </div>
          
        </div>
    </div>
</a>

<a ui-sref="monitor">
    <div class="col-lg-4">
        <div class="hpanel hbggreen">
            <div class="panel-body text-center h-200">
                <i class="glyphicon glyphicon-user icon_front"></i>

                <h1 class="m-xs">Monitores</h1>

                <h3 class="font-extra-bold no-margins ">
                    DSCHOOL
                </h3>
            </div>
         
        </div>
    </div>
</a>

<a ui-sref="estudiantes">
    <div class="col-lg-4">
        <div class="hpanel hbgviolet">
            <div class="panel-body text-center h-200">
                <i class="glyphicon glyphicon-education icon_front"></i>

                <h1 class="m-xs">ESTUDIANTES</h1>

                <h3 class="font-extra-bold no-margins ">
                    D SCHOOL
                </h3>
            </div>
          
        </div>
    </div>
</a>

<a ui-sref="acudiente">
    <div class="col-lg-4">
        <div class="hpanel hbgyellow">
            <div class="panel-body text-center h-200">
                <i class="glyphicon glyphicon-user icon_front"></i>

                <h1 class="m-xs">ACUDIENTE</h1>

                <h3 class="font-extra-bold no-margins ">
                    D SCHOOL
                </h3>
            </div>
          
        </div>
    </div>
</a>
</div>
</div>

    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
