<div id="navigation">

<div class="profile-picture">
            <a href="index.html" class="img-circle" style="display: block;
    background: #00ACD8;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;">
               
                <img src="{{userImage || 'images/logo.png'}}" alt="logo" class="m-b" height="70"> 
            </a>

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{{fullUserName}}</span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Opciones <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu  m-t-xs">
                        <li ><a ui-sref="cambiar-clave">Cambiar contraseña</a></li>
                        <li class="divider hidden" ></li>
                        <li><a ng-click="logout()">Salir</a></li>
                    </ul>
                </div>


            </div>
        </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Inicio</span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="usuario" href="#!usuario">Usuarios</a>
        </li>
        <li class="hidden" ui-sref-active="active" style="display:none;">
            <a ui-sref="colegio">Colegio</a>
        </li>
        <!--<li ui-sref-active="active">
            <a ui-sref="usuario"> <span class="nav-label">Usuarios</span> </a>
        </li>-->
        <!--<li ui-sref-active="active">
            <a ui-sref="estudiantes"> <span class="nav-label">Estudiantes</span></a>
        </li>-->
        
        <li class="hidden" ui-sref-active="active">
            <a ui-sref="parada">Paradas</a>
        </li>

        <li class="hidden" ui-sref-active="active">
            <a ui-sref="rutas">Rutas</a>
        </li>
        <li class="hidden" ui-sref-active="active"> <a ui-sref="monitor">Monitores</a></li>
        <li class="hidden" ui-sref-active="active"> <a ui-sref="estudiantes">Estudiantes</a></li>
        <li class="hidden" ui-sref-active="active"> <a ui-sref="acudiente">Acudientes</a></li>
        <li class="hidden" ui-sref-active="active"> <a ui-sref="viajes">Viajes</a></li>
        <li class="hidden" ui-sref-active="active"> <a ui-sref="logs">Logs</a></li>
        <li class="hidden" ng-class="{active: $state.includes('forms')}">
            <a ui-sref="logs"><span class="nav-label">Usuarios</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" >
                <!-- <li ui-sref-active="active"> <a ui-sref="usuario"> Usuarios </a></li> -->
                <li ui-sref-active="active"> <a ui-sref="acudiente">Acudiente</a></li>
                <li ui-sref-active="active" style="display:none;"> <a ui-sref="conductor">Conductor</a></li>
                <li ui-sref-active="active"> <a ui-sref="monitor">Monitor</a></li>
            </ul>
        </li>
        <li class="hidden" ui-sref-active="active"> <a ui-sref="logs" style="display:none;">Logs</a></li>
        <li class="hidden" ui-sref-active="active" style="display:none;">
            <a ui-sref="trayecto">Trayecto</a>
        </li>
        <li class="hidden" ui-sref-active="active" style="display:none;">
            <a ui-sref="asistencia">Asistencia</a>
        </li>
        <li class="hidden" ui-sref-active="active" style="display:none;">
            <a ui-sref="ruta-estudiante">Asociaciones</a>
        <li class="hidden" ui-sref-active="active" style="display:none;">
            <a ui-sref="ruta-estudiante">Cronograma estudiantil</a>
        </li>
    </ul>
</div>
